@{
}

<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <div style="display: flex; flex-direction: column; max-width: 1000px; width: 90%;">
        <div style="margin-bottom: 30px;">
            <h2 style="text-align: center; font-size: 2em;">Contáctenos</h2>
            <p style="text-align: center; font-size: 1.2em;">Revisá las preguntas frecuentes o escribinos y te responderemos a la brevedad. Ahora también podés escribirnos por Whatsapp.</p>
        </div>
        <div style="margin-bottom: 30px;">
            <h2 style="text-align: center; font-size: 2em;">Complejos</h2>
            <p style="text-align: center; font-size: 1.2em;">Las boleterías abren 15 minutos antes de la primera función del día. Podés visitarnos en los siguientes complejos:</p>
            <ul style="list-style-type: none; padding: 0; text-align: center; font-size: 1.2em;">
                <li>Lavalle 780 C.A.B.A</li>
                <li>Panamericana Km 50 Pilar (Shopping Palmas del Pilar)</li>
                <li>Formosa 653 Canning</li>
                <li>Vuelta de Obligado 2199 C.A.B.A.</li>
            </ul>
        </div>
        <div style="text-align: center; margin-bottom: 30px;">
            <img src="https://www.cinesargentinos.com.ar/mail/para-news/eventos/hoyts-salta-sala-3d.JPG" alt="Imagen" style="max-width: 100%; height: auto; max-height: 600px;">
        </div>
    </div>
</div>
